# Week one homework

In [ ]:
import pandas as pd
from sqlalchemy import create_engine
from time import time

In [3]:
# pip list

In [3]:
green = pd.read_csv('green_tripdata_2019-09.csv.gz')
csv_file_path = 'green_tripdata_2019-09.csv'
green.to_csv(csv_file_path, index=Fals

In [4]:
taxi = pd.read_csv('taxi+_zone_lookup.csv')

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2,8.00,3.00,0.5,0.00,0.00,0.3,11.80,2.5,NaN
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2,3.00,0.50,0.5,0.00,0.00,0.3,4.30,0.0,NaN
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1,42.00,0.50,0.5,8.65,0.00,0.3,51.95,0.0,NaN
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1,29.00,0.50,0.5,6.05,0.00,0.3,36.35,0.0,NaN
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1,16.50,0.50,0.5,4.06,0.00,0.3,24.36,2.5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1369764,2,2021-01-31 23:03:00,2021-01-31 23:33:00,NaN,8.89,NaN,None,229,181,0,27.78,0.00,0.5,7.46,0.00,0.3,38.54,NaN,NaN
1369765,2,2021-01-31 23:29:00,2021-01-31 23:51:00,NaN,7.43,NaN,None,41,70,0,32.58,0.00,0.5,0.00,6.12,0.3,39.50,NaN,NaN
1369766,2,2021-01-31 23:25:00,2021-01-31 23:38:00,NaN,6.26,NaN,None,74,137,0,16.85,0.00,0.5,3.90,0.00,0.3,24.05,NaN,NaN
1369767,6,2021-01-31 23:01:06,2021-02-01 00:02:03,NaN,19.70,NaN,None,265,188,0,53.68,0.00,0.5,0.00,0.00,0.3,54.48,NaN,NaN
1369768,2,2021-01-31 23:08:29,2021-01-31 23:31:22,NaN,4.68,NaN,None,89,61,0,25.45,2.75,0.5,0.00,0.00,0.3,29.00,NaN,NaN

In [5]:
taxi.head()

In [ ]:
green.head()

In [63]:
green.lpep_pickup_datetime = pd.to_datetime(green.lpep_pickup_datetime)
green.lpep_dropoff_datetime = pd.to_datetime(green.lpep_dropoff_datetime)

In [64]:
green['pickup_date'] = green['lpep_pickup_datetime'].dt.date
green['pickup_time'] = green['lpep_pickup_datetime'].dt.time
green['dropoff_date'] = green['lpep_dropoff_datetime'].dt.date
green['dropoff_time'] = green['lpep_dropoff_datetime'].dt.time

In [65]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.1,1.0,N,142,43,2,8.0,3.0,0.5,0.0,0.0,0.3,11.8,2.5,NaN

In [61]:
engine.connect()

In [28]:
print(pd.io.sql.get_schema(green, name='green_tripdata_2019-09', con=engine))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL,
  "airport_fee" REAL
)

In [47]:
print(pd.io.sql.get_schema(taxi, name='taxi+_zone_lookup', con=engine))

10000

In [67]:
green = pd.read_csv('green_tripdata_2019-09.csv.gz')
green.head(n=0).to_sql(name='green_tripdata_2019_09', con=engine, if_exists='replace')
while True:
    try:
        t_start = time()

        green = next(df_iter)

        green.lpep_pickup_datetime = pd.to_datetime(green.lpep_pickup_datetime)
        green.lpep_dropoff_datetime = pd.to_datetime(green.lpep_dropoff_datetime)
        
        
        
        green.to_sql(name='green_tripdata_2019_09', con=engine, if_exists='append')

        t_end = time()
        
    except StopIteration:
        print('Finished inserting all data.')
        break

1

In [68]:
import pandas as pd
from time import time

green = pd.read_csv('green_tripdata_2019-09.csv')

# Use if_exists='replace' to create the table if it doesn't exist
green.head(0).to_sql(name='green_tripdata_2019_09', con=engine, if_exists='replace', index=False)

try:
    t_start = time()

    green['lpep_pickup_datetime'] = pd.to_datetime(green['lpep_pickup_datetime'])
    green['lpep_dropoff_datetime'] = pd.to_datetime(green['lpep_dropoff_datetime'])

    
    green.to_sql(name='green_tripdata_2019_09', con=engine, if_exists='append', index=False)

    t_end = time()
    print(f'Inserted the entire dataset, took {t_end - t_start:.3f} seconds')

except Exception as e:
    print(f'Error during data insertion: {str(e)}')

0

Wall time: 2.53 s

1000

Upload another chunk... took 1.837 seconds
Upload another chunk... took 1.521 seconds
Upload another chunk... took 1.557 seconds
Upload another chunk... took 1.940 seconds
Upload another chunk... took 1.794 seconds
Upload another chunk... took 1.632 seconds
Upload another chunk... took 1.501 seconds
Upload another chunk... took 1.476 seconds
Upload another chunk... took 1.417 seconds
Upload another chunk... took 1.426 seconds
Upload another chunk... took 1.698 seconds
Upload another chunk... took 1.707 seconds
Upload another chunk... took 1.401 seconds
Upload another chunk... took 1.541 seconds
Upload another chunk... took 1.459 seconds
Upload another chunk... took 1.459 seconds
Upload another chunk... took 1.410 seconds
Upload another chunk... took 1.631 seconds
Upload another chunk... took 1.616 seconds
Upload another chunk... took 1.582 seconds
Upload another chunk... took 1.417 seconds
Upload another chunk... took 1.573 seconds
Upload another chunk... took 1.459 seconds
Upload another chunk... took 1.467 seconds
Upload another chunk... took 1.516 seconds
Upload another chunk... took 1.691 seconds
Upload another chunk... took 1.468 seconds
Upload another chunk... took 1.435 seconds
Upload another chunk... took 1.673 seconds
Upload another chunk... took 1.828 seconds
Upload another chunk... took 2.020 seconds
Upload another chunk... took 2.045 seconds
Upload another chunk... took 1.970 seconds
Upload another chunk... took 1.838 seconds
Upload another chunk... took 2.144 seconds
Upload another chunk... took 1.945 seconds
Upload another chunk... took 2.068 seconds
Upload another chunk... took 2.018 seconds
Upload another chunk... took 1.846 seconds
Upload another chunk... took 2.250 seconds
Upload another chunk... took 2.001 seconds
Upload another chunk... took 2.234 seconds
Upload another chunk... took 1.774 seconds
Upload another chunk... took 1.795 seconds
Upload another chunk... took 1.912 seconds
Upload another chunk... took 2.175 seconds
Upload another chunk... took 2.170 seconds
Upload another chunk... took 1.886 seconds
Upload another chunk... took 1.805 seconds
Upload another chunk... took 1.830 seconds
Upload another chunk... took 1.870 seconds
Upload another chunk... took 1.953 seconds
Upload another chunk... took 2.019 seconds
Upload another chunk... took 2.159 seconds
Upload another chunk... took 1.830 seconds
Upload another chunk... took 1.830 seconds
Upload another chunk... took 2.111 seconds
Upload another chunk... took 1.864 seconds
Upload another chunk... took 1.845 seconds
Upload another chunk... took 1.870 seconds
Upload another chunk... took 2.052 seconds
Upload another chunk... took 1.689 seconds
Upload another chunk... took 1.492 seconds
Upload another chunk... took 1.327 seconds
Upload another chunk... took 1.516 seconds
Upload another chunk... took 1.459 seconds
Upload another chunk... took 1.607 seconds
Upload another chunk... took 1.368 seconds
Upload another chunk... took 1.904 seconds

C:\Users\HP\AppData\Local\Temp\ipykernel_18736\1780572307.py:8: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df1["tpep_dropoff_datetime"] = pd.to_datetime(df1["tpep_dropoff_datetime"])

Upload another chunk... took 1.533 seconds
Upload another chunk... took 1.347 seconds
Upload another chunk... took 1.422 seconds
Upload another chunk... took 1.598 seconds
Upload another chunk... took 1.417 seconds
Upload another chunk... took 1.726 seconds
Upload another chunk... took 1.808 seconds
Upload another chunk... took 1.433 seconds
Upload another chunk... took 1.336 seconds
Upload another chunk... took 1.781 seconds
Upload another chunk... took 1.500 seconds
Upload another chunk... took 1.824 seconds
Upload another chunk... took 1.686 seconds
Upload another chunk... took 1.723 seconds
Upload another chunk... took 1.793 seconds
Upload another chunk... took 1.515 seconds
Upload another chunk... took 1.654 seconds
Upload another chunk... took 1.326 seconds
Upload another chunk... took 1.673 seconds
Upload another chunk... took 1.597 seconds
Upload another chunk... took 1.699 seconds
Upload another chunk... took 1.409 seconds
Upload another chunk... took 1.360 seconds
Upload another chunk... took 1.393 seconds
Upload another chunk... took 1.640 seconds
Upload another chunk... took 1.501 seconds
Upload another chunk... took 1.426 seconds
Upload another chunk... took 1.895 seconds
Upload another chunk... took 1.789 seconds
Upload another chunk... took 2.051 seconds
Upload another chunk... took 2.130 seconds
Upload another chunk... took 1.925 seconds
Upload another chunk... took 1.961 seconds
Upload another chunk... took 1.880 seconds
Upload another chunk... took 2.292 seconds
Upload another chunk... took 1.986 seconds
Upload another chunk... took 2.134 seconds
Upload another chunk... took 1.764 seconds
Upload another chunk... took 1.916 seconds
Upload another chunk... took 1.916 seconds
Upload another chunk... took 2.103 seconds
Upload another chunk... took 2.010 seconds
Upload another chunk... took 1.855 seconds
Upload another chunk... took 1.846 seconds
Upload another chunk... took 2.019 seconds
Upload another chunk... took 2.439 seconds
Upload another chunk... took 1.987 seconds
Upload another chunk... took 1.764 seconds
Upload another chunk... took 1.781 seconds
Upload another chunk... took 2.085 seconds
Upload another chunk... took 2.382 seconds
Upload another chunk... took 2.036 seconds
Upload another chunk... took 1.978 seconds
Upload another chunk... took 1.886 seconds
Upload another chunk... took 1.937 seconds
Upload another chunk... took 2.085 seconds
Upload another chunk... took 2.019 seconds
Upload another chunk... took 1.800 seconds
Upload another chunk... took 1.653 seconds
Upload another chunk... took 1.599 seconds
Upload another chunk... took 1.574 seconds
Upload another chunk... took 1.499 seconds
Upload another chunk... took 1.418 seconds
Upload another chunk... took 1.418 seconds
Upload another chunk... took 1.625 seconds
Upload another chunk... took 1.425 seconds
Upload another chunk... took 1.564 seconds

StopIteration: